html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  font-family: 'Oswald', 'Open Sans', sans-serif; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none; }

a {
  color: inherit; }

p, h1 {
  margin: 0; }

.button {
  border-radius: 5px;
  background-color: #fff;
  padding: .5em 1.5em;
  border: 2px solid #fc5c1f;
  color: #fc5c1f;
  font-size: 18px;
  font-family: "Open Sans";
  -webkit-transition: all ease-in-out 256ms;
  transition: all ease-in-out 256ms; }

.button:hover {
  background-color: #fc5c1f;
  color: #fff; }

.container .header {
  background: url(../img/bg.jpg) center fixed no-repeat;
  background-size: cover;
  height: 100vh; }
  .container .header .header_logo {
    text-align: left;
    padding: 1em; }
  .container .header .header_d {
    text-align: left;
    padding: 2.5em; }
    .container .header .header_d .header_description {
      padding-bottom: 25px;
      font-size: 45px;
      font-weight: 700;
      line-height: 1.3;
      color: #fc5c1f; }

@media (min-width: 1024px) {
  .container .header .header_d .header_description {
    font-size: 80px; } }
